 # Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json./.git/objects/pack/pack-3ffee3baec228df31f7cb7cede075e28f68f035d.pack
./combined/dModels/faster_rcnn_resnet50_lowproposals_coco_2018_01_28/frozen_inference_graph.pb
./combined/dModels/faster_rcnn_resnet50_lowproposals_coco_2018_01_28/model.ckpt.data-00000-of-00001
./combined/dModels/faster_rcnn_resnet50_lowproposals_coco_2018_01_28/saved_model/saved_model.pb
./.git/objects/pack/pack-3ffee3baec228df31f7cb7cede075e28f68f035d.pack
